<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <body>
        <div style="font-size: 14px;">
            <div class="header">
                <center><b style="font-size: 16px; font-weight: 700;">To‘lov kontrakt asosida mutaxassis tayyorlash
                        to‘g‘risida
                        tayyorlashga</b></center>
                <center>
                    <h2>SH A R T N O M A <img src="../static/images/nomer.png" style="width: 21px;"> <u>_{{id}}_</u>
                    </h2>
                </center>
            </div>

            <center>
                <h2>Buxoro shahri <span style="color: white;">_________________________________</span>
                    {{date}}
                </h2>
            </center>

            <div>
                Buxoro shahri davlat xizmatlari markazi tomonidan 2022 yil 12-sentabrida berilgan 1960266- raqam
                bilan qayd qilingan Guvohnoma asosida faoliyat yurituvchi <strong>"OSIYO XALQARO UNIVERSITETI"</strong>
                mas’uliyati cheklangan jamiyati (keying o’rinlarda - Universitet) nomidan nizom va yuridik
                shaxsning Guvoxnomasi asosida harakat qiluvchi rektor Dexkanov Suxrob Sobirovich bir tomondan,
                ikkinchi tomondan <strong>{{name}} {{surename}} {{father_name}}</strong> (keyingi o‘rinlarda matnda
                "Talaba" deb yuritiladi), uchinchi tomondan
                ______________________________________________________________________ nomidan
                ________________________ asosida harakat qiluvchi _____________________ (keyingi o‘rinlarda matnda
                "Buyrtmachi" deb yuritiladi , birgalikda esa “Taraflar” deb ataladi) mazkur shartnomani tuzdilar.

            </div>

            <br>
            <center><strong>1. SHARTNOMA MAZMUNI</strong></center>
            <p>1.1. Universitet tayyorlash dasturi bo’yicha o‘quv jarayonini (keyingi o‘rinlarda “O’qitish”)ni amalga
                oshirish majburiyatini o‘z zimmasiga oladi, talaba-to‘lovchi Universitet tomonidan tasdiqlangan
                tariflar bo’yicha taqdim etiladigan xizmatlarni to‘lash majburiyatini oladi. Talabaning ta’lim
                ma’lumotlari quyidagicha:
                <br>
                Ta’lim bosqichi: <strong>{{study_type}}</strong>
                <br>
                Ta’lim shakli: <strong>{{education_form}}</strong>
                <br>
                O’qish muddati: <strong>5 yil (2023-yil sentabrdan 2028-yil iyungacha)</strong>
                <br>
                O’quv kursi: <strong>1-kurs</strong>
                <br>
                Ta’lim yo’nalishi: <strong>{{direction}</strong>}
                <br>
            </p>

            <center><b>2. TOMONLARNING HUQUQ VA MAJBURIYATLARI</b></center>

            <p>
                2.1. Universitetning huquq va majburiyatlari: <br>
                2.1.1. O’qitish uchun “Ta’lim to‘g‘risida”gi O’zbekiston Respublikasi qonuniga muvofiq Universitet
                Nizomida nazarda tutilgan zarur shart – sharoitlarni yaratish; <br>
                2.1.2. Talabalarga qonun bilan berilgan huquqlarini erkin amalga oshirilishini va universitet
                Nizomiga muvofiq majburiyatlarning bajarilishini ta’minlash; <br>
                2.1.3. Mutaxassisni tasdiqlangan o‘quv rejasi va dasturlarga muvofiq davlat ta’lim standarti talablari
                darajasida tayyorlash; <br>
                2.1.4. O’zbekistonda Mehnatga haq to‘lashning eng kam miqdori yoki bazaviy hisoblash yoki tariflar
                o‘zgarganda ta’limning qolgan muddati uchun to‘lov miqdorini qayta xisob-kitob qilib o‘zgartirish
                Universitet o‘z zimmasida qoldirish va bu haqda talabani 15 kun oldin ogohlantirish; <br>
                2.1.5. To‘lov shartnoma pulini o‘z vaqtida to‘lagan abituriyentlarni talabalar safiga qabul qilish; <br>
                2.1.6. To‘lov shartnoma pulini o‘z vaqtida to‘lamasdan kelgan hamda Universitet tomonidan
                belgilangan Ichki-tartibqoidalari talablariga rioya qilmagan abituriyent va talabalarni universitet
                binosidan va o‘quv resurslaridan foydalanish imkoniyatiyani cheklash hamda imtihonlarga
                kiritmaslik.
                <br>
            </p>

            <center> <b>2.2. Buyurtmachi (talaba) huquq va majburiyatlari:</b></center>
            <p>
                2.2.1. Ta’lim olish jarayonida tegishli normativ-huquqiy hujjatlar, oliy ta’lim muassasalari binosi,
                kutubxona fondi va elektron o‘quv resurslaridan foydalanish; <br>
                2.2.2. O’zbekiston Respublikasi Vazirlar Mahkamasining 2020 yil 31 dekabrdagi 824-sonli Qarori 1-
                ilova “Oliy ta’lim muassalarida o‘quv jarayoniga kredit-modul tizimini joriy etish tartibi
                to‘g‘risida”gi
                Nizom talablariga amal qilish va uni so‘zsiz bajarish; <br>
                2.2.3. O’quv jarayonida bilim va saviyani baholash mezonlari bo‘yicha to‘liq ma’lumot olish; <br>
                2.2.4. Universitet tomonidan tashkil etiladigan sport-sog‘lomlashtirish, ma’naviy-ma’rifiy va boshqa
                ijtimoiy tadbirlarda ishtirok etish; <br>
                2.2.5. Universitet tomonidan belgilangan ichki tartib Qoidalari talablariga to‘liq rioya qilishi hamda
                Universitet rahbariyati tomonidan chiqarilgan buyruq va farmoyishlarni so‘zsiz bajarish; <br>
                2.2.6. Joriy o‘quv yili uchun belgilangan o‘qitishning to‘liq qiymatini o‘z muddatlarida to‘lash; <br>
                2.2.7. To‘lov amalga oshirilgandan so‘ng talaba Universitet buxgalteriyasiga to‘lovni tasdiqlovchi
                hujjatlarni taqdim etishi shart. To‘lovni amalga oshirishda to‘lovning maqsadi (izoh)ga quyidagilar
                ko‘rsatilishi lozim: talabaning familiyasi, ismi va sharifi hamda shartnomaning raqami va tuzilgan
                sanasi. <br>
                2.2.8. Talaba mazkur shartnoma bo’yicha, shartnoma majburiyatlarini bajarish imkoniyatiga ega
                bo‘lmagan taqdirda, Universitetni yozma ravishda xabardor qilishi lozim. Yozma xabarnoma
                berilmagan taqdirda, Universitet shartnomani bir tomonlama bekor qilish huquqiga ega bo‘ladi.
                Mazkur holatda talaba universitetga da’vo qilish huquqidan mahrum bo‘ladi. <br>
                2.2.9. Pasport ma’lumotlari, manzil va aloqa rekvizitlari o‘zgargan vaqtdan e’tiboran besh kun ichida
                universitetga xabar berish. <br>
                2.2.10. Talaba o‘qish jarayonida ayrim fanlarni talab darajasida o‘zlashtira olmagan holatda,
                Universitet tomonidan amalga oshirilgan qo‘shimcha mashg‘ulotlar (darslar) o‘tilganligi uchun shu
                Universitet tariflari bo’yicha qo‘shimcha to‘lovlarni amalga oshirish. <br>
                2.2.11. Talabada o‘qish davrida O’zbekiston Respublikasi hududidan chet elga chiqish zarurati
                tug‘ilgan holda darhol bu haqda Universitetni ogohlantirish. <br>
                2.2.12. O’zbekiston Respublikasi davlat standartlari bo‘yicha bilimlarni olish va shu bo‘yicha
                universitetdan bilim talab qilish. <br>
                2.2.13. Universitet faoliyatida muhim masalalarini muhokama qilishda ishtirok etish, o‘quv
                jarayonida boshqa ishtirokchilarining qadr-qimmatini kamsitmagan holda o‘z fikrlarini erkin va ochiq
                ifoda etish. <br>
                2.2.14. Fanlarni o‘zlashtirishda qiyinchiliklar yuzaga kelganda, Universitet o‘qituvchilari va
                xodimlaridan yordam olish. <br>
                2.2.15. Talaba ta’lim olayotgan yo‘nalishi bo‘yicha kamida 5 yillik ish stajiga ega bo‘lmagan taqdirda,
                universitet tomonidan o‘quv rejaga qo‘shimcha rejalashtirilgan fanlarni o‘qish va o‘zlashtirish
                majburiyatini oladi, mazkur majburiy fanlarni belgilangan tartibda va muddatda o‘zlashtirmaslik
                talabalar safidan chetlashtirish uchun asos sifatida qabul qilinadi. <br>
                2.2.16. Talaba Universitetga topshirilgan hujjatlar, shu jumladan umumiy o‘rta va o‘rta maxsus
                ta’lim to‘g‘risidagi hujjat (shaxodatnoma yoki diplomi ilovasi bilan, transkript (baholar varaqasining
                asl nusxasi- o'qishni ko'chirib kelgan bo'lsa)) haqiqiy ekanligi uchun shaxsan javobgar

            </p>

            <center><b>3. O’QITISHNING TO‘LOV MIQDORI, MUDDATLARI VA TO‘LASH TARTIBLARI</b></center>
            <p class="subtitle is-5 mt-3">
                3.1 2023-2024 o‘quv yilida o‘qitishning belgilangan yillik to‘lov miqdori : <strong> 12000000 (o`n ikki
                    million) so‘mni tashkil etadi. </strong> <br>
                3.2 Talaba yoki jismoniy shaxs to‘lovlarni amalga oshirishi uchun har bir o‘quv yilida alohida
                shartnoma rasmiylashtiriladi. <br>
                3.3 O’qitish uchun to‘lov quyidagi tartibda amalga oshiriladi: To‘lov-kontrakt semestrlarga va
                choraklarga bo‘lib to‘langanda: - o‘qishga birinchi yil qabul qilinganlar (abituriyentlar)
                to‘lovkontrakt summasining 50 foiz (talabalikka qabul qilinishi uchun) 2023 yil 30 avgustgacha
                kechiktirmay to‘lashi shart, qolgan to‘lovni ikkiga bo’lib to‘laganda, to‘lovni 25 foizini 2023 yilning
                30 dekabrgacha, joriy o‘quv yildagi to‘lov - kontraktning oxirgi to‘lovini 2024 yilning 15 martigacha
                to‘lashi shart; <br>
                3.4 Shartnomaning 3.3-bandida ko‘zda tutilgan to‘lov muddatlarini o‘zgartirish talabaning asosli
                sabablari ko‘rsatilgan holdagi yozma murojaatiga ko‘ra Universitet kengashining qarori asosida
                qabul qilinadi va bir semestr mobaynida amal qiladi. <br>
                3.5 Talaba Universitetning Ichki-tartib qoidalarini yoki o‘quv intizomini buzganligi, shartnoma
                shartlarini bajarmaganligi uchun o‘qishdan chetlashtirilganda o‘qigan davri uchun to‘langan
                to‘lovlar qaytarib berilmaydi. Talabaning o‘qigan davriga mos ravishda to‘lovlar to‘lanmaganligi
                aniqlanganda, uni o‘qishga qatnashgan davri uchun to‘lov ixtiyoriy yoki sud tartibida undiriladi. <br>
                3.6 Qo‘shimcha-kontrakt to‘lovi asosida qabul qilingan talabalar o‘quv yilining ikkinchi semestridan
                uzrli sabablarga ko‘ra qatnasha olmaganda, keyingi o‘quv yilda, o‘qishni davom ettirishi uchun
                mazkur shartnomada belgilangan summaning to‘lagan taqdirda o‘qishni davom ettirishi mumkin. <br>
                3.7 Talabaga Universitet tashabbusi bilan talabalar safidan chiqarilganda, avvalgi to‘lagan pul
                mablag‘lari qaytarilmaydi. <br>
                3.8 Talaba akademik fanlarni talab darajasida o‘zlashtirmaganda, kursdan kursga qoldirish nazarda
                tutiladi, bunday holda kontrakt to‘lov talaba tomonidan har bir o‘qigan davriga mos ravishda
                to‘lanadi. <br>
                3.9 Talaba kontrakt to‘lov mablag‘larini amalga oshirib bo'lib, uzurli sabablarga ko‘ra (yashash joyi
                o‘zgarib ko‘chib ketganda, sog'ligi yomonlashganda va x.k.) talabaning mazkur Universitetda o‘qish
                imkoniyati cheklanganda, talaba o‘quv jarayonini boshlanishidan 10 kun oldin Universitet
                ma’muriyatiga bu haqda yozma murojaat qilishi shart, aks holda to‘lov kontrakt mablag‘lari
                qaytarilmaydi. <br>
                3.10 Talabaning ta’lim xizmatlari uchun to’lov uchinchi shaxs (jismoniy va/yoki) yuridik shaxs
                tomonidan to’liq va/yoki qisman to’lanishi mumkin. Universitet talaba va uchinchi shaxs o’rtasidagi
                munosabatlar bo’yicha hech qanday mas’uliyatga ega bo’lmaydi va javobgar bo’lmaydi. Talab ava
                uchinchi shaxs (buyurtmachi) o’rtasidagi munosabatlar ular o’rtasida imzolanadigan bitim asosida
                tartibga solinadi. Bunday bitim Universitet uchun majburiyatlar yaratmaydi. <br>
            </p>




            <center><b>4. SHARTNOMANI BEKOR QILISH VA O‘ZGARTIRISH TARTIBI</b></center>
            <p class="subtitle is-5 mt-3">
                4.1 Shartnoma quyidagi hollarda bekor qilinishi mumkin: <br>
                4.2 Tomonlarni o‘zaro roziligibilan; <br>
                4.3 Universitet Nizomiga muvofiq ma’muriyatning tashabbusiga ko‘ra ta’lim oluvchi o‘qishdan
                chetlashtirilganda; <br>
                4.4 Tomonlardan biri shartnoma shartlarini bajarmaganda; <br>
                4.5 Ta’lim oluvchining tashabbusiga ko‘ra; <br>
                4.6 Amaldagi qonunchilikda ko‘rsatilgan boshqahollarda. <br>
                4.7 Shartnomaga o‘zgartirish va qo‘shimchalar tomonlarning kelishuviga ko‘ra kiritiladi. <br>
                4.8 Talaba tomonidan shartnomada belgilangan majburiyatlar bajarilmagan taqdirda universitet
                ushbu shartnomani bir tomonlama bekor qiladi va talabani talabalar safidan chetlashtiradi. <br>
                4.9 Shaxsiy hujjatlarning asl nusxasini o‘z vaqtida topshirilmaslik yoki taqdim etilgan xujjatlar
                haqiqiy emasligi aniqlanganda, Universitet shartnomani bir tomonlama bekor qilish huquqiga ega
                bo‘lib, talabani talabalar safidan chetlatishga asos bo‘ladi. <br>
                4.10. Talabaning o‘qishni ko‘chirib boshqa OTMlarda davom ettirish, xuddi shunday boshqa
                OTMlardan o‘qishni ko‘chirib Universitetda o‘qishni davom ettirish niyati borligi haqidagi murojaati
                semestr yakunida, akademik fanlardan qarzdorligi yo‘qligi ko‘rib chiqilib, 5 ish kuni mobaynida
                qaror qabul qilinadi. <br>
                4.11. Tomonlar o‘rtasida kelib chiqadigan nizolar O’zbekiston Respublikasining amaldagi qonun
                talablari asosida hal etiladi <br>
            </p>

            <center><b>5. FORS –MAJOR HOLATLAR</b></center> <br>

            <p>5.1. Yengib bo‘lmas kuch, ya’ni: yong‘in, tabiiy ofat, urushlar, harbiy operatsiyalar, yuqumli
                kasalliklar pandemiyasini tarqalishini oldini olish - fuqarolar manfaatlari, birinchi navbatda, ularning
                hayoti va sog‘ligini himoya qilish maqsadida karantin holati e’lon qilinib butunlay to‘xtatish vujudga
                kelgan vaziyatda va bevosita mazkur shartnoma bajarilishiga ta’sir etgan holda majburiyatlar to‘liq
                yoki qisman bajarilmaganligi uchun tomonlar javobgarlikdan ozod qilinadi. Shu bilan birga mazkur
                shartnoma bo’yicha majburiyatlar bajarilishi muddati shu kabi vaziyatlar bo‘lib o‘tgan vaqtga mos
                ravishda suriladi.
            </p> <br>

            <center><b>6. BOSHQA SHARTLAR</b></center> <br>
            <p>6.1 Mazkur shartnomaga har qanday o‘zgartirish va qo‘shimchalar kiritish ular faqatgina ikkala
                tomon mas’ul vakillar tomonidan imzolangan va yozma ravishda bajarilgan holdagina huquqiy
                hisoblanadi. <br>
                6.2 Boshqa tomonning yozma ruxsatisiz xech bir tomon mazkur shartnoma bo’yicha o‘z huquq yoki
                majburiyatlarini ikkinchi shaxsga berishi mumkin emas. <br>
                6.3 Shartnoma mazmuni jixatidan bir xil, teng yuridik kuchga bo‘lgan 2 nusxada tuzilib, bir
                tomondan talabaning imzosi yoki Buyurtmachi imzosi va muhri, ikkinchi tomondan Universitet
                imzosi va muhri bilan tasdiqlanadi. <br>
            </p>


            <center><b>6. BOSHQA SHARTLAR</b></center> <br>
            <table border="1px">
                <tbody>
                    <tr>
                        <td>
                            <strong>“OSIYO XALQARO
                                UNIVERSITETI” MChJ</strong>
                        </td>
                        <td>
                           <strong>{{name}}<strong>
                        </td>
                        <td>

                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>
                            <strong>Manzil:</strong> Buxoro viloyati, Buxoro
                            shaxar, Yangiobod MFY,
                            G’ijduvon ko‘chasi, 74 - uy
                            <strong>Telefon:</strong> +998553050009 <br> <br>
                            <strong>Bank rekvizitlari:</strong>  <br>
                            <strong>H/r:</strong> 20208000605567237002
                            ATB Ipoteka bank ATIB Buxoro
                            viloyat filiali <br>
                            <strong>MFO:</strong>  00088 <br>
                            <strong>STIR:</strong>  309855582 <br>
                            <strong>IFUT:</strong>  85.42.0 <br>

                        </td>


                        <td> <br>
                           <strong>Manzil:</strong>
                            ___________________________
                            ___________________________
                            ___________________________
                            ___________________________ <br>
                            <strong>Pasport seriyasi va raqami:</strong>
                            ___________________________ <br>
                            <strong>Telefon:</strong> <br>
                            {{phone}}
                            _____________________
                        </td>

                        <td> <br>
                            <strong>Manzil:</strong>
                            ___________________________
                            ___________________________
                            ___________________________ <br>
                            <strong>Bank rekvizitlari:</strong>
                            <strong>H/r:</strong> ______________________
                            ___________________________
                            ___________________________
                            <strong>MFO:</strong> <br>
                            <strong>STIR:</strong> <br>
                            <strong>IFUT:</strong> <br>
                        </td>
                    </tr>



                <tbody>
                    <tr>
                        <td>
                            <strong style="margin-top: 10px;">TOMONLAR IMZOLARI</strong>
                        </td>
                    </tr>
                </tbody>
                </tbody>

                <tbody>
                    <tr>
                        <td>
                            <img src="../static/images/Снимок.JPG" alt="">
                        </td>
                        <td style="margin-top: 50px;">
                            Talaba: ___________________
                            (imzo) <br> <br> 
                            <strong>{{name}}</strong>
                        </td>
                        <td>
                            Buyurtmachi <br>
                            Rahbar: ___________
                            <br> <br> 
                            Bosh <br>
                            hisobchi: ___________
                        </td>
                    </tr>
                </tbody>
            </table> <br> <br>


            <img src="../static/images/Снимок1.JPG" alt="">
        </div>



    </body>
</body>

</html>